{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"singleQuote": true,
	"semi": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/layout/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/utils/(.*)$",
		"^@/configs/(.*)$",
		"^@/services/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)$",
		"^./(.*)$",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
